* {
    margin: 0;
    box-sizing: border-box;
}

.pos-center {
    margin: 0;
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
}

.loader {
    border: 10px solid #f3f3f3;
    z-index: 100;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: calc(3vw + 3vh);
    height: calc(3vw + 3vh);
    animation: spin 1s linear infinite;
    transition: all 0.5s ease-in-out;
}

.shadow {
    z-index: 1;
    position: absolute;
    inset: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.crutch-padding {
    padding-top: 3%;
    height: 94%;
}

.adaptive {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 20px;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 768px) {

}

@media (max-width: 420px) {

}
