* {
    margin: 0;
    box-sizing: border-box;
}

.crutch-padding {
    padding-top: 3%;
    height: 94%;
}

.adaptive {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 20px;
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 768px) {

}

@media (max-width: 420px) {

}
