.page {
    background: url("../public/background.jpg") no-repeat center center fixed;
    min-width: 100vw;
    min-height: 100vh;
    inset: 0;
    position: fixed;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.router-link {
    color: inherit;
    text-decoration: inherit;
}
